// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css';

@import '~select2/dist/css/select2.css';

//fontawesome icon
@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";

//Admin-lte
@import "~admin-lte/dist/css/adminlte.min.css";

//overlayScrollbars
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";

//select2
/* @import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"; */




//icheck-bootstrap
@import "~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";

//font khmer
@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Moul&display=swap');

@import '~sweetalert2/src/variables';

$swal2-background: #c3c3c3;

@import '~sweetalert2/src/sweetalert2';

body{
    

    font-family:​'Hanuman','Moul',"Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.multiselect.is-invalid .multiselect__tags{
    border-color: #e3342f !important;
}